<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utility.ExtentReportManager"/>
    </listeners>
    <test name="Pet Store">
        <classes>
            <class name="tests.UserTests">
                <methods>
                    <include name="createUserTest"/>
                    <include name="loginUserTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>