<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utility.ExtentReportManager"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/Kazakimaru/IdeaProjects/API-Testing-Rest-Assured-Java/src/test/java/tests/ddt">
        <classes>
            <class name="tests.ddt.DDTest">
                <methods>
                    <include name="createUserTest"/>
                    <include name="loginUserTest"/>
                    <include name="updateUserTest"/>
                    <include name="logoutUserTest"/>
                    <include name="deleteUserTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>